# Elixir
/_build/
/cover/
/deps/
/doc/
/tmp/
erl_crash.dump
*.ez
nopea-*.tar

# Rust
nopea-git/target/
nopea-git/Cargo.lock

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Secrets
.env
*.pem
*.key
priv/plts/*.plt
